.date-field {
  display: flex;
  align-items: center;
  width: 100%;
}

.date-field input {
  flex-grow: 1;
  /* Ensures the input takes up available space */
}

mat-dialog-content, button {
  font-weight: 600 !important;
}
