.dashboard-container {
    padding: 5px 15px;
}

.mat-card {
    max-width: 400px;
    border: none;
    display: flex;
    margin: auto;
    margin-bottom: 5px;
}

.mat-card-footer {
    padding: 16px;
}

.custom-accents {
    color: var(--button-accent-color) !important;
    font-weight: 600;
}

button:hover.custom-accents {
    background-color: var(--button-hover-accent-color) !important;
  }